.animation-experiment-1 {
  width: 100vw;
  height: 100vh;
  position: relative;

  .box {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    right: calc(50% - 2.5rem);
    top: calc(50% - 2.5rem);
    rotate: 45deg;
    position: absolute;
  }
}
