.animation-experiment-1 {
  width: 100vw;
  height: 100vh;
  position: relative;

  .box {
    width: 5rem;
    height: 5rem;
    border: 16px solid black;
    box-sizing: border-box;
    border-radius: 0.25rem;
    right: calc(50% - 2.5rem);
    top: calc(50% - 2.5rem);
    position: absolute;
  }
}
